<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<arg name="init" value="flexbe_full.launch"/>

	<node name="tmux_ss" type="tmux_session_manager_node.py" pkg="acquisition_of_raw_data" output="screen">
		<param name="session_name" value="testtt"/>
		<param name="initial_cmd" value="roslaunch flexbe_app $(arg init)"/>
	</node>

	<node name="close_session" type="close_tmux_button.py" pkg="tmux_session_core" />
</launch>

